<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Fireball</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="The Bezier">
              <SvgPalette Name="MyNew">
                <SvgColor Name="Paint" Value="32,32,32" />
                <SvgColor Name="Paint High" Value="32,32,32" />
                <SvgColor Name="Paint Shadow" Value="32,32,32" />
                <SvgColor Name="Paint Deep Shadow" Value="32,32,32" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="50,50,50" />
                <SvgColor Name="Brush High" Value="255,255,255" />
                <SvgColor Name="Brush Major" Value="50,50,50" />
                <SvgColor Name="Brush Minor" Value="50,50,50" />
                <SvgColor Name="Accent Paint" Value="192,80,77" />
                <SvgColor Name="Accent Paint Light" Value="50,50,50" />
                <SvgColor Name="Accent Brush" Value="50,50,50" />
                <SvgColor Name="Accent Brush Light" Value="255,228,176" />
                <SvgColor Name="Key Paint" Value="32,32,32" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="White" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="White" />
                <SvgColor Name="Gray" Value="101,113,140" />
                <SvgColor Name="White" Value="45,56,80" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="White" />
                <SvgColor Name="altWhite" Value="45,56,80" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="32,32,32" />
                <SvgColor Name="Paint High" Value="32,32,32" />
                <SvgColor Name="Paint Shadow" Value="32,32,32" />
                <SvgColor Name="Paint Deep Shadow" Value="32,32,32" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="50,50,50" />
                <SvgColor Name="Brush High" Value="255,255,255" />
                <SvgColor Name="Brush Major" Value="50,50,50" />
                <SvgColor Name="Brush Minor" Value="50,50,50" />
                <SvgColor Name="Accent Paint" Value="192,80,77" />
                <SvgColor Name="Accent Paint Light" Value="50,50,50" />
                <SvgColor Name="Accent Brush" Value="50,50,50" />
                <SvgColor Name="Accent Brush Light" Value="255,228,176" />
                <SvgColor Name="Key Paint" Value="32,32,32" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="White" />
                <SvgColor Name="Red" Value="252,109,119" />
                <SvgColor Name="Green" Value="83,186,122" />
                <SvgColor Name="Blue" Value="113,168,243" />
                <SvgColor Name="Yellow" Value="250,177,36" />
                <SvgColor Name="Black" Value="White" />
                <SvgColor Name="Gray" Value="101,113,140" />
                <SvgColor Name="White" Value="45,56,80" />
                <SvgColor Name="altRed" Value="252,109,119" />
                <SvgColor Name="altGreen" Value="83,186,122" />
                <SvgColor Name="altBlue" Value="113,168,243" />
                <SvgColor Name="altYellow" Value="250,177,36" />
                <SvgColor Name="altBlack" Value="White" />
                <SvgColor Name="altWhite" Value="45,56,80" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>